.currencyItem{
    border: 1px solid #e7d2c1;
    color: #e7d2c1;
    border-radius: 15px;
    padding: 2em 0em;
    display: inline-block;
    width: 30%;
    background-color: #382c33;
    margin: 1em;
    box-shadow: 10px 5px 5px #856c5a;;
    max-width: 20%;
}