.converter{
    background-color: #222129;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.converter-inputGroup{
    width: 40%;   
}

.converter-arrows{
    margin: auto 10px;
    font-size: 24px;
}