thead, tbody, tfoot, tr, td, th {
    border-color: #bca08a;
    border-style: solid;
    border-width: 0;
    color: #bca08a;
}

.table{
    padding: 0 40px;
}

.buttonsRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttonsRow-input{
    margin: 0 5px;
    width: 40%;
}

.buttonsRow-button{
    margin: 5px 5px;
}